{% extends 'layout.html' %}
{% block content %}
{% if data.conLists.length ===0 %}
<div class="about-author clearfix">
	<div class="details">
		<div class="author">
			当前分类下没有文章
		</div>
	</div>
</div>
{% else %}
{% for con in data.conLists %}

<article id="106" class="post">
	<div class="post-head">
		<h1 class="post-title">{{con.title}}</h1>
		<div class="post-meta">
			<span class="author">作者：{{data.user.user}}</span>
			<time class="post-date">{{con.addtime | date('Y-m-d h:i:s',-8*60)}}</time>
			<span class="author">阅读：{{con.views}}</span>
			<span class="author">评论：{{con.comments.length}}</span>
		</div>
	</div>
	<!--<div class="featured-media">-->
	<!--<a href="/ghost-1-0-released/"><img src="http://static.ghostchina.com/image/4/c2/804903aef2bdfcd0e4eb95b27ca77.jpg" alt="Ghost 1.0 版本正式发布"></a>-->
	<!--</div>-->
	<div class="post-content">
		{{con.des}}
	</div>
	<div class="post-permalink">
		<a href="/view?article_id={{con._id.toString()}}&cate_id={{con.category._id.toString()}}" class="btn btn-default">阅读全文</a>
	</div>

	<footer class="post-footer clearfix">
		<div class="pull-left tag-list">
			<i class="fa fa-folder-open-o"></i>

		</div>
		<div class="pull-right share">
		</div>
	</footer>
</article>
{% endfor %}
{% endif %}
<nav class="pagination" role="navigation">
	{% if data.page <= 1 %}
	<span>没有上一页</span>
	{% else  %}
	<span><a href="/?cate_id={{data.cate_id}}&page={{data.page-1}}">上一页</a></span>
	{% endif %}
	<span>共有{{data.count}}纪录;第 {{data.page}} 页 ⁄ 共 {{data.pages}} 页；每页显示{{data.limit}}条</span>
	{% if data.page >= data.pages %}
	<span>没有下一页</span>
	{% else %}
	<span><a href="/?cate_id={{data.cate_id}}&page={{data.page+1}}">下一页</a></span>
	{% endif %}
</nav>
{% endblock %}