<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blacklist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/main.css" rel="stylesheet">
    <script src="/public/js/vue.min.js"></script>
    <script src="/public/js/axios.min.js"></script>

    <style>
        .pb10{padding-bottom: 10px;}
        .pdd10{padding: 10px;}
        .fr{float: right}

    </style>
</head>
<body>
<div class="container" id="blog">
    <nav class="main-navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="navbar-header">
                        <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                        </span>
                    </div>
                    <div class="collapse navbar-collapse" id="main-menu">
                        <ul class="menu">
                            {% if !data.cate_id %}
                            <li class="nav-current" ><a href="/">首页</a></li>
                            {% else %}
                            <li ><a href="/">首页</a></li>
                            {% endif %}
                            {% for item in data.navs %}
                            {% if item._id.toString()==data.cate_id %}
                            <li  class="nav-current" ><a href="/?cate_id={{item._id.toString()}}">{{item.name}}</a></li>
                            {% else %}
                            <li ><a href="/?cate_id={{item._id.toString()}}">{{item.name}}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="content-wrap">

        <div class="row">
            <main class="col-md-8 main-content">
                {% block content%}{% endblock%}
            </main>

            <aside class="col-md-4 sidebar">

                <div class="widget">
                    <h4 class="title">登录</h4>

                    <div class=" login">
                        {% if data.userInfo._id %}
                        <div id="info" >
                            <h4>用户信息</h4>
                            <p class="info">{{data.userInfo.user}}</p>
                            {% if data.userInfo.isAdmin %}
                            <p class="info">hello,管理员！<a href="/admin">进入后台管理 </a></p>
                            {% else %}
                            <p class="info">hello,欢迎光临</p>
                            {% endif %}
                            <p><a @click = 'logout'>退出</a></p>
                        </div>
                        {% else %}
                        <div v-show="hidebox">
                            <div id="login" v-show="!islogin">
                                <!--<p class="bg-primary">login box</p>-->
                                <form class="form-horizontal">
                                    <div class="form-group" >
                                        <label for="username" class="col-sm-4 control-label">用户名</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="username" placeholder="user" v-model="login_user">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd" class="col-sm-4 control-label">密码</label>
                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="pwd" placeholder="pwdd" v-model="login_pwd">						</div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-4 col-sm-8">
                                            <button type="submit" class="btn btn-default" @click.prevent="login">登录</button>
                                            <button type="reset" class="btn btn-default">重置</button>
                                        </div>
                                        <div class="col-sm-offset-4 col-sm-6">
                                            <p>没有账号？<span @click="goReg">请注册</span></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="register"  v-show="islogin">
                                <!--<p class="bg-info">register box</p>-->
                                <form class="form-horizontal">
                                    <div class="form-group" >
                                        <label for="username" class="col-sm-4 control-label">用户名</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" v-model="reg_user" id="username" placeholder="user">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd" class="col-sm-4 control-label">密码</label>
                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" v-model="reg_pwd" id="pwd" placeholder="pwdd">						</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="repwd" class="col-sm-4 control-label">新密码</label>
                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" v-model="reg_repwd" id="repwd" placeholder="pwdd">						</div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-4 col-sm-8">
                                            <button type="submit" class="btn btn-default" @click.prevent = 'register'>注册</button>
                                            <button type="reset" class="btn btn-default">重置</button>

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <p class="text-danger" v-show="istip" v-text="tip"></p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="widget">
                    <h4 class="title">社区</h4>
                    <div class="content community">
                        <p>QQ：274458208</p>
                        <p><a href="javascript:;"  target="_blank" ><i class="fa fa-comments"></i> 问答社区</a></p>
                    </div>
                </div>

                <div class="widget">
                    <h4 class="title">标签云</h4>
                    <div class="content tag-cloud">
                        <a href="javascript:;">jQuery</a>
                        <a href="javascript:;">开源</a>
                        <a href="javascript:;">标签云</a>
                        <a href="javascript:;">导航</a>
                        <a href="javascript:;">自定义页面</a>
                        <a href="javascript:;">静态页面</a>
                        <a href="javascript:;">Roon.io</a>
                        <a href="javascript:;">配置文件</a>
                        <a href="javascript:;">上传</a>
                        <a href="javascript:;">邮件</a>
                        <a href="javascript:;">快捷键</a>
                        <a href="javascript:;">用户指南</a>
                    </div>
                </div>
            </aside>


        </div>
    </section>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span>Copyright © <a href="http://www.ghostchina.com/">Ghost中文网</a></span> |
                    <span><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></span> |
                    <span>京公网安备11010802014853</span>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="/public/js/jquery-3.2.1.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/main.js"></script>

</body>
</html>